[Unit]
Description=Check the connectivity of Wireguard vpn
Requisite=sys-devices-virtual-net-wg0.device
After=sys-devices-virtual-net-wg0.device

[Service]
Type=oneshot
ExecStart=/bin/sh /home/karevulli/bin/wireguard-watchdog.sh
