@import '../../.cache/hellwal/waybar.css';

@define-color backgrounda alpha(@background, 0.75);

* {
    font-family: "Fira Sans", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;  /* Slightly smaller font size */
    font-weight: 500;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.3s;
}

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @foreground;
}

tooltip {
    background: @backgrounda;
    color: @foreground;
    border-radius: 7px;
    border-width: 0px;
}

label.module {
}



#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#language,
#window,
#tray,
#tray-group,
#custom-hyprPicker,
#custom-power-menu,
#custom-vpn,
#custom-camera,
#custom-power,
#custom-task {
    padding: 0px 10px;  /* Adjusted padding */
}

#workspaces-left, #workspaces-right, #stats-left, #stats-right, #tray-left, #tray-right, #window-right, #task-left, #task-right {
    background: transparent;
    min-height: 0px;
}

#workspaces-left {

}

#workspaces-right {
    border-left: 15px solid @background;
    border-bottom: 30px solid transparent;
    background: @backgrounda;
}

#workspaces {
    background: @background;
    padding: 3px;
}

#workspaces button {
    padding: 0px 5px;  /* Adjusted padding to reduce height */
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: @foreground;
    background: @color13;
}

#workspaces button:hover {
    background: @color5;
}

#workspaces button.urgent {
    background: @color9;
}

#window {
    background: @backgrounda;
}

#window-right {
    border-left: 15px solid @backgrounda;
    border-bottom: 30px solid transparent;
}

#stats-left {
    border-left: 15px solid transparent;
    border-bottom: 30px solid @backgrounda;
    margin-left: 0px;
}

#stats {
    background: @backgrounda;
}

/* #stats-right {
    border-left: 15px solid @backgrounda;
    border-bottom: 30px solid transparent;
} */

#tray-left {
    border-left: 15px solid transparent;
    border-bottom: 30px solid @background;
    background: @backgrounda;
    /* background: red; */
    /* padding-right: 5px; */
}

/* #tray-right {
    border-left: 15px solid @background;
    border-bottom: 30px solid transparent;
} */

#tray-group {
    background: @background;
}

#tray {
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-vpn {
    min-width: 40px;
    padding: 0px 6px;
}

#custom-camera {
    color: #0f4;
    background-color: transparent;
}

#custom-power {
    padding-left: 20px;
    background-image: linear-gradient(-63deg, @backgrounda 0%, @backgrounda 75%, @background 75%, @background 100%);
}

#custom-power:hover {
    background-image: linear-gradient(-63deg, rgba(216, 0, 0, 1) 0%, rgba(216, 0, 0, 1) 75%, @background 75%, @background 100%);
}

#task-left {
    border-left: 15px solid transparent;
    border-bottom: 30px solid @color10;
}

#custom-task {
    background: @color10;
    padding: 0px 20px;
    color: #fff;
}

#cpu {
    color:#fb958b;
    padding: 0px 8px;
}

#memory {

}

#custom-storage {

}

#pulseaudio {
    
}

#clock {
    background: @background;
}

#language {
    min-width: 40px;
}

#language span {
    padding-right: 20px;
}

