@import '../../.cache/hellwal/waybar.css';

* {
    font-family: "Fira Sans", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;  /* Slightly smaller font size */
    font-weight: 500;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
}

/* The whole bar */
#waybar {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-radius: 0px;
    margin: 0px 0px;
}

label.module {
    background-color: #111827;
}

window#waybar.hidden {
  opacity: 0.2;
}



#window {
    color: @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#language,
#window,
#tray,
#workspaces button,
#custom-hyprPicker,
#custom-power-menu,
#custom-vpn,
#custom-camera,
#custom-power,
#custom-task {
    border-radius: 10px;
    padding: 0px 10px;  /* Adjusted padding */
    margin: 4px 0px;
    margin-bottom: 5px;
}

#workspaces button {
    padding: 0px 6px;  /* Adjusted padding to reduce height */
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: @foreground;
    background: #025939;
}

#workspaces button:hover {
    background: rgba(0, 80, 13, 0.44);
}

#workspaces button.active:hover {
    background: #048858;
}

#workspaces button.urgent {
    background: #eb4d4b;
}


#custom-vpn {
    color: #fff;
    min-width: 40px;
    padding: 0px 6px;
}

#custom-camera {
    color: #0f4;
    background-color: transparent;
}

#custom-power:hover {
    background-color: rgba(216, 0, 0, 1);
}

#custom-screenshot_t {
    border-radius: 6px;
    padding-right: 6px;
    padding-left: 10px
}

#custom-task {
    background: rgba(21, 210, 243, 0.6);
    padding: 0px 20px;
    color: #fff;
}

#tray {
    padding: 0px 0px;
}

#cpu {
    color:#fb958b;
    padding: 0px 8px;
}

#memory {
    color: #ebcb8b;
}

#custom-storage {
}

#custom-launcher {
    background-color: #1b242b;
    color: #6a92d7;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}

/* Add left margin to the leftmost item */
.modules-left:first-child  {
    margin-left: 5px;
}

/* Add right margin to the rightmost item */
.modules-right:last-child {
    margin-right: 5px;
}

#pulseaudio {
    color: #7d9bba;
}

#backlight {
    color: #8fbcbb;
}

#clock {
    color: #c8d2e0;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964b00;
}

#bluetooth {
    color: #707d9d;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #b48ead;
    min-width: 150px;
}

#network.disconnected {
    color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    min-width: 40px;
}

#language span {
    padding-right: 20px;
}

